body {
    background-image: url("../img/back-reg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.rectangle {
    width:500px;
    height:595px;
    padding: 10px;
    background: #e6e6e6;
    margin: auto;
    margin-top: 5%;
    border-radius: 22px;
}

.text-recover {
    vertical-align: top;
    resize: none;
}

.input-field {
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.900);
    width: 80%;
    height: 300px;
    border: 0;
    outline-width: 0;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: 18px;
}

.montserrat-header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 30px;
    color: #445C80;
    font-style: normal;
}

.head {
    text-align: center;
}

.logo {
    width: 18%;
    height: 18%;
}

.submit-field {
    display: block;
    margin: auto;
    background-color: #80AFF4;
    color: #ffffff;
    width: 80%;
    font-size: 24px;
    height: 80px;
    border: 0;
    border-radius: 8px;
    box-shadow: 4px 10px 12px 0px rgba(34, 60, 80, 0.2);
}

.label-text {
    color: #445C80;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    vertical-align: super;
}

.recover-container {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}