<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "users/css/style-login.css" %}">
    <title>{{view.title}}</title>
</head>
<body>
    <main>
        <div class="form-container">
            <div class="rectangle">
                <div class="head">
                    <img class="logo" src="{% static "users/img/logo.svg" %}" alt="logotype">
                    <h1 class="montserrat-header">MAP OF INTEREST</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <label class="authentification-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    {% endfor %}
                    <a href="#" class="font-1">Забыли пароль?</a> 
                    <input class="submit-field" type="submit" value="Войти">
                    <a href="{% url "registration" %}" class="font-2">Создать аккаунт</a>
                </form>
            </div>
        </div>
    </main>
</body>
</html>