<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-login.css">
    <title>Greetings</title>
</head>
<body>
    <main>
        <div class="form-container">
            <div class="rectangle">
                <div class="head">
                    <img class="logo" src="img/logo.svg" alt="logotype">
                    <h1 class="montserrat-header">MAP OF INTEREST</h1>
                </div>
                <form method="post">
                    <label for="username" class="authentification-form-label">Логин</label>
                    <input class="input-field" type="text" id="username" name="username">
                    <label for="password" class="authentification-form-label">Пароль</label>
                    <input class="input-field" type="password" id="password" name="password">
                    <a href="#" class="font-1">Забыли пароль?</a> 
                    <input class="submit-field" type="submit" value="Войти">
                    <a href="#" class="font-2">Создать аккаунт</a>
                </form>
            </div>
        </div>
    </main>
</body>
</html>