<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-recover.css">
    <title>Recovery</title>
</head>
<body>
    <main>
        <div class="form-container">
            <div class="rectangle">
                <div class="head">
                    <img class="logo" src="img/logo.svg" alt="Логотип">
                    <h1 class="montserrat-header">Восстановление пароля</h1>
                </div>
                <form method="post">
                    <textarea class="input-field text-recover" id="text" name="text"></textarea>
                    <div class="recover-container">
                        <p class="label-text">*Служба поддержки ответить на контактную почту в ближайшее время</p>
                        <input class="submit-field" type="submit" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>