<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-reg.css">
    <title>Greetings</title>
</head>
<body>
    <main>
        <div class="form-container">
            <div class="rectangle">
                <div class="head">
                    <img class="logo" src="img/logo.svg" alt="Логотип">
                    <h1 class="montserrat-header">Регистрация</h1>
                </div>
                <form method="post" class="authentification-form">
                        <label for="email" class="authentification-form-label">Почта</label>
                        <input type="email" class="authentification-form-input" id="email" name="email">
                        <label for="login" class="authentification-form-label">Логин</label>
                        <input type="text" class="authentification-form-input" id="login" name="login">
                        <label for="password" class="authentification-form-label">Пароль</label>
                        <input type="password" class="authentification-form-input" id="password" name="password">
                        <label for="repeat-password" class="authentification-form-label">Повторите пароль</label>
                        <input type="password" class="authentification-form-input-last" id="repeat-password" name="repeat-password">
                        <input type="checkbox" class="checkbox-input" id="checkbox" name="accept-private-policy">
                        <label for="checkbox" class="checkbox-label">Согласие на обработку персональных данных</label>
                        <input class="submit-field" type="submit" value="Зарегистрироваться">
                </form>
            </div>
        </div>
    </main>
</body>
</html>