body {
    background-image: url("../../../static/users/img/auth-back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.rectangle {
    width:500px;
    height:595px;
    padding: 10px;
    background:rgba(255, 255, 255, 0.900);
    margin: auto;
    margin-top: 5%;
    border-radius: 22px;
}

.input-field {
    display: block;
    margin: auto;
    background-color: #F0F0F0;
    width: 80%;
    height: 80px;
    border: 0;
    outline-width: 0;
    border-radius: 8px;
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: 18px;
}

.authentification-form-label {
    margin-left: 10%;
    color: #445C80;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
}

.submit-field {
    display: block;
    margin: auto;
    background-color: #80AFF4;
    color: #ffffff;
    width: 80%;
    font-size: 24px;
    height: 80px;
    border: 0;
    border-radius: 8px;
    box-shadow: 4px 10px 12px 0px rgba(34, 60, 80, 0.2);
}

.submit-field:hover {
    background-color: #4285e9;
    cursor: pointer;
}

.registration-form {
    padding: 10px;
}

.font {
    font-family: 'Myanmar Khyay';
    display: block;
    padding: 0;
    text-align: center;
    color: #445C80;
    font-size: 28px;
}

.font-1 {
    font-family: 'Calibri';
    display: block;
    padding: 0;
    margin-top: 0;
    text-align: right;
    margin-right: 10%;
    color: #6E6E6E;
    font-size: 22px;
    margin-bottom: 10px;
}

.font-2 {
    font-family: 'Calibri';
    display: block;
    padding: 0;
    margin-top: 2%;
    text-align: center;
    color: #5e99f0;
    font-size: 22px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.font-3 {
    font-family: 'Calibri';
    display: block;
    padding: 0;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: #6E6E6E;
    font-size: 16px;
}

.montserrat-header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 30px;
    color: #445C80;
    font-style: normal;
}

.logo {
    width: 18%;
    height: 18%;
}

.head {
    text-align: center;
}

@font-face{
    font-family: 'Myanmar Khyay';
    src: url(../fonts/Khyay-Regular.ttf) format("truetype");
}